{% extends "base.html" %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="row">
    <div class="col-md-2 col-sm-3 text-center">
        <p><span class="boldtext">Author:</span> {{ user.username }}</p>
    </div>
    <div class="col-sm-10 col-md-9">
        {% if post.image %}
        <img class="img-blogpost" src="/media/{{ post.image }}"> {% endif %}
        <h3>{{ post.title }}</h3>
        <div class="row">
            <div class="col-xs-9">
                <p>{{ post.content }}</p>
                <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                <p><span class="boldtext">Views:</span> {{post.views}}</p>
                <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                <a href="{% url 'profile' %}" class="btn btn-default">Back to Profile</a>
                <a href="{% url 'edit_post' post.id %}" class="btn btn-default">Edit Post</a>
                <hr>
            </div>
        </div>
    </div>

</div>
{% endblock %}

