{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<h1>Previous Work</h1>

<div class="row">
  <div class="column">
        <img class="img-fluid" alt="lady in red" src="{% static 'img/lady_in_red.jpg' %}"  width="460" height="345"></img>
     </div>
  <div class="column">
        <img class="img-fluid" alt="censored in green" src="{% static 'img/censored_green.jpg' %}"  width="460" height="345"></img>
     </div>
  <div class="column">
        <img class="img-fluid" alt="protest target" src="{% static 'img/protest_target.jpg' %}" width="460" height="345">
      </div>
  <div class="column">
        <img class="img-fluid" alt="city" src="{% static 'img/city.jpg' %}" width="460" height="345">
      </div>
</div>
{% endblock %}