{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<h1>Previous Work</h1>

<div class="row">
  <div class="column">
        <a href=""><img class="img-fluid img-thumbnail" alt="girl_with_gun_red" src="{% static 'img/girl_with_gun_red.jpg' %}" width="460" height="345"></a>
        <a href=""><img class="img-fluid img-thumbnail" alt="city" src="{% static 'img/hood_grey.jpg' %}" width="460" height="345"></a>
     </div>
  <div class="column">
        <a href=""><img class="img-fluid img-thumbnail" alt="girl_with_gun_red" src="{% static 'img/house.jpg' %}" width="460" height="345"></a>
        <a href=""><img class="img-fluid img-thumbnail" alt="city" src="{% static 'img/car_lens_flare_blue.jpg' %}" width="460" height="345"></a>
     </div>     
  <div class="column">
        <a href="/protest_target"><img class="img-fluid img-thumbnail" alt="protest target" src="{% static 'img/protest_target.jpg' %}" width="460" height="345"></a>
                <a href="/city"><img class="img-fluid img-thumbnail" alt="city" src="{% static 'img/city.jpg' %}" width="460" height="345"></a>
      </div>
        <div class="column">
        <a href=""><img class="img-fluid img-thumbnail" alt="smoking_man_brown" src="{% static 'img/smoking_man_brown.jpg' %}" width="460" height="345"></a>
        <a href=""><img class="img-fluid img-thumbnail" alt="storefront_ice" src="{% static 'img/storefront_ice.jpg' %}" width="460" height="345"></a>
     </div>
       <div class="column">
           <a href="/lady_in_red"><img class="img-fluid img-thumbnail right" alt="lady in red" src="{% static 'img/lady_in_red.jpg' %}"  width="460" height="345"></img></a>
     </div>
       <div class="column">
          
        <a href="/censored_green"><img class="img-fluid img-thumbnail" alt="censored in green" src="{% static 'img/censored_green.jpg' %}"  width="460" height="345"></img></a>
     </div>
</div>
{% endblock %}