{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
   
       <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
    <h2>Welcome to your profile page.</h2>
    <p>You are logged in as {{ user.email }} </p>
    
    
<div class="row">
    <form role="form" method="post" id="testimonial-form" action="{% url 'profile' %}">
        <div class="col-md-12">
                            <h4>Enter a name or company.</h4>
            <input type="text" class="form-control input-lg" id="inputlg" name="Textbox" maxlength="50" placeholder="maxlength:50 characters" />
            <!---->
                <h4>Enter a testimonial if desired.</h4>
            <input type="text" class="form-control input-lg" id="inputlg" name="Textbox" maxlength="100" placeholder="maxlength:100 characters" />
        </div>
        <div class="col-md-12">
            <br>
            {% csrf_token %}
            <input class=" btn btn-primary" id="submit_testimonial_btn" name="commit" type="submit" value="Submit">
        </div>
    </form>
</div>

</div>
</div>
</div>
{% endblock %}