{% extends 'base.html' %} {% block content %}

<h1>Noir Digital Work.</h1>
<link rel="stylesheet" href="/static/css/image_grid.css" type="text/css" />
<link rel="stylesheet" href="/static/css/testimonials.css" type="text/css" />

<div class="row">
    <div class="column">
   <div class="container">
  <img src="bandmember.jpg" alt="Avatar" style="width:90px">
  <p><span>Chris Fox.</span> CEO at Mighty Schools.</p>
  <p>John Doe saved us from a web disaster.</p>
</div>
</div>

<div class="column">
<div class="container">
  <img src="avatar_g2.jpg" alt="Avatar" style="width:90px">
  <p><span >Rebecca Flex.</span> CEO at Company.</p>
  <p>No one is better than John Doe.</p>
</div> 
</div>
</div>

<div class="row">
  <div class="column">
    <img class="img-fluid" alt="grey hood" src="/static/img/hood_grey.jpg"></img>
    <img class="img-fluid" alt="city" src="/static/img/city.jpg"></img>
  </div>
  <div class="column">
    <img class="img-fluid" alt="house sign" src="/static/img/house.jpg"></img>
    <img class="img-fluid" alt="lady in red" src="/static/img/lady_in_red.jpg"></img>
  </div>
  <div class="column">
    <img class="img-fluid" alt="man in brown" src="/static/img/smoking_man_brown.jpg"></img>
    <img class="img-fluid" alt="lens flare" src="/static/img/car_lens_flare_blue.jpg"></img>
  </div>
  <div class="column">
    <img class="img-fluid" alt="censored in green" src="/static/img/censored_green.jpg"></img>
    <img class="img-fluid" alt="protest target" src="/static/img/protest_target.jpg"></img>
  </div>
</div>

{% endblock %}